<div class="container">
    <br>
    <div class="row">
      <table class="table table-striped table-bordered col-lg-4">
          <tr>
            <td *ngIf="firstField">
              <div class="input-group">
                  <input [(ngModel)]="firstFieldName" class="form-control py-2 " type="text" name="Enter IP" placeholder="Enter Ip">
                <div class="input-group-prepend">
                  <div (click)="firstField = false" class="input-group-text"><i class="mdi mdi-minus mdi-18px"></i></div>
                  <div *ngIf="fieldArray.length <= 8" class="input-group-text" (click)="addFieldValue()"><i class="mdi mdi-plus mdi-18px"></i></div>
                </div>
              </div>
            </td>
          </tr>
  
          <tr *ngFor="let field of fieldArray; let i = index">
            <td>
              <div class="input-group">
                <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" placeholder="Enter Ip">
                <div class="input-group-prepend">
                  <div (click)="deleteFieldValue(i)" class="input-group-text"><i class="mdi mdi-minus mdi-18px"></i></div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td align="right">
              <button (click)="onEditCloseItems()" class="btn btn-primary btn-sm" type="button">Save</button>
            </td>
          </tr>
        <!-- </tbody> -->
      </table>
    </div>
  </div>