<!DOCTYPE html>
<html>
<body>
  <div class="card">
    <img src="/assets/images/avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Select User Type</b></h4> 
      <p>Basic User / Premium User</p> 
      <form (ngSubmit)="onSubmit()">
      <select>
        <option value="bas">Basic</option>
        <option value="pre">Premium</option>
      </select>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
  </div>
  
</body>
</html>

